upstream backend {
    server schedule-backend:8080;
}
server {
    listen 80;
    listen  [::]:80;
    server_name localhost;

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
    }

    location /api {
        proxy_pass http://backend/;
    }

}
